@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.Dark01 {
  color: #131313;
}
.Dark02 {
  color: #424242;
}
.Dark03 {
  color: #727272;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  color: #fff;
  background-color: #ff900e;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 20px;
  border-radius: 8px;
  border: none;
}
/* Header Styles */

/* navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.brand {
  font-weight: bold;
  font-size: 3rem;
}
.navbar ul {
  gap: 20px;
}
.navbar ul li {
  list-style: none;
  font-weight: 500;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 2rem;
}

/* banner Styles */
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  margin: 20px 250px;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 10px;
}
.banner-text {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.banner-img {
  width: 100%;
}

/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .brand {
    font-size: 1rem;
  }
  .banner-content {
    width: 100%;
    margin: 30px auto;
  }
  .btn-primary {
    font-size: 1rem;
  }
}
