@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.Dark01 {
  color: #131313;
}
.Dark02 {
  color: #424242;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Header Styles */

/* navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.brand {
  font-weight: bold;
  font-size: 3rem;
}
.navbar ul {
  gap: 20px;
}
.navbar ul li {
  list-style: none;
  font-weight: 500;
}
.navbar ul li a {
  text-decoration: none;
}

/* banner Styles */
